@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


:root{
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 8%);
--Orange: hsl(25, 97%, 53%)

}

*{
    padding:0;
    margin:0;
    font-family: 'Overpass', sans-serif;

}
body{
    background-color: var(--VeryDarkBlue);
    color:var(--White);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container{
    margin-inline:auto;
    width:auto;
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}


.ratingCard{

    width: 38vw;
    max-width:400px;
    min-width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:linear-gradient(200deg,var(--DarkBlue), var(--VeryDarkBlue));
    background-size:100% 130%;
    padding:30px;
    border-radius: 25px;
    transition: all .5s ease-in;

}
svg{

    margin-bottom: 25px;
    scale: 1.3;
    background-color: var(--DarkBlue);
    padding:10px;
    border-radius: 50%;
}
p{
    font-size: .8rem;
    margin:10px 0;
    line-height: 1.1rem;
    color:var(--MediumGrey);
}
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding:5%  0;
}
ul li{
    background-color: var(--DarkBlue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 50px;
    font-size: .9rem;
    color:var(--MediumGrey);
    transition: .3s;

}
ul li:hover:not(.actived){
    background-color: var(--LightGrey);
    color:var(--White)
}
button{
    padding:10px;
    border-radius: 25px;
    color:white;
    font-family: 'Overpass', sans-serif;
    background-color:var(--Orange) ;
    box-shadow: 0px 0px 8px var(--VeryDarkBlue);
    transition:background-color .5s,color .5s;
}

.actived{
    background-color: var(--Orange);
    color:var(--White)
}
.go:hover{
    background-color: var(--White);
    color:var(--Orange);

}
.result{

}
.attribution{
    padding-bottom: 30px;
    text-align: center;
}
.center{
    width:180px;
    height: 110px;;
    border-radius: 0;
    background-color: transparent;
}
.result{
    width: 38vw;
    max-width:400px;
    min-width:300px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image:linear-gradient(200deg,var(--DarkBlue), var(--VeryDarkBlue));
    background-size:100% 130%;
    padding:30px;
    border-radius: 25px;

}
.select{

        background-color: var(--DarkBlue);
        font-size: .9rem;
        border-radius: 50px;
        padding: 7px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        color: var(--Orange);
        margin-bottom: 10px;
}
.footere{
    font-size: .8rem;
    margin:10px 0;
    line-height: 1.1rem;
    color:var(--MediumGrey);
    text-align: center;
}

.rting{
    display: inline;
}
